/* Estilos generales */

body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

/* Estilos del encabezado */

header {
	background-color: #1e88e5; /* Cambiar el color de fondo a un azul más vibrante */
	padding: 20px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	margin-right: 10px;
	border-radius: 50%; /* Agregar un borde redondeado al logo */
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

.user-nav {
	display: flex;
}

.user-nav a {
	margin-right: 10px;
	color: #000;
	text-decoration: none;
}

/* Estilos del perfil */

.profile {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.profile img {
	border-radius: 50%;
	margin-right: 20px;
}

.profile-info {
	color: #666; /* Cambiar el color de la información del perfil a un tono más suave */
}

/* Estilos de las secciones */

h2 {
	margin-bottom: 10px;
	color: #1e88e5; /* Cambiar el color de los títulos a un tono más vibrante */
}

.section {
	margin-bottom: 20px;
	background-color: #f5f5f5; /* Cambiar el color de fondo de las secciones a un tono más claro */
	padding: 20px;
	border-radius: 4px; /* Agregar bordes redondeados a las secciones */
}

.grades-table,
.attendance-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

.grades-table th,
.grades-table td,
.attendance-table th,
.attendance-table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

.grades-table th:last-child,
.grades-table td:last-child,
.attendance-table th:last-child,
.attendance-table td:last-child {
	border-right: none;
}

.todolist {
	list-style: none;
	padding-left: 0;
}

.todolist li {
	margin-bottom: 10px;
}

/* Estilos del pie de página */

footer {
	text-align: center;
	padding: 20px;
	background-color: #f5f5f5;
	margin-top: 20px;
}

