header {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

main {
    text-align: center;
    margin-top: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer .logo {
    margin: 20px 0;
    max-width: 15%;
}

main {
    text-align: center;
    margin-top: 100px;
}
