<body class="background">
  <table class="alumnos-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Usuario</th>
        <th>Password</th>
      </tr>
    </thead>

    <tbody>
      <!-- Itera sobre la lista de alumnos y muestra cada uno en una fila de la tabla -->
      <tr *ngFor="let alumno of listaAlumnos" (click)="mostrarDetalles(alumno)">
        <td>{{alumno.id}}</td>
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellidos}}</td>
        <td>{{alumno.usuario}}</td>
        <td>{{alumno.password}}</td>
      </tr>
    </tbody>
  </table>

  <div class="add-alumno-form">
    <label>Nombre Alumno:
      <!-- Input para ingresar el nombre del alumno -->
      <input #AlumnoNombre class="input-field" />
    </label>
    <!-- Botón para agregar un nuevo alumno -->
    <button class="add-button" (click)="addAlumno(AlumnoNombre.value); AlumnoNombre.value=''">
      Añadir
    </button>
  </div>

  <ul class="alumno-list">
    <!-- Itera sobre la lista de alumnos y muestra cada uno en una lista -->
    <li *ngFor="let alumno of listaAlumnos" class="alumno-item">
      <a routerLink="/detail/{{alumno.id}}" class="alumno-link">
        <!-- Muestra el ID del alumno y su nombre -->
        <span class="badge">{{alumno.id}}</span> {{alumno.nombre}}
      </a>
      <!-- Botón para eliminar un alumno -->
      <button class="delete" title="delete alumno" (click)="deleteAlumno(alumno)">Borrar</button>
    </li>
  </ul>

  <h3>Top Alumnos</h3>
<div class="grid grid-pad">
  <a *ngFor="let alumno of listaAlumnos" class="col-1-4"
      routerLink="/detail/{{alumno.id}}">
    <div class="module hero">
      <h4>{{alumno.nombre}}</h4>
    </div>
  </a>
</div>

<app-busqueda-alumno></app-busqueda-alumno>

</body>
