<h1>Probando a ver si esto funciona</h1>
<p>index works!</p>

<header>
    <h1>Instituto Cavanilles</h1>
</header>
<main>
    <a href="alumno" class="boton">Usuario</a>
    <button>Introducir contraseña</button>
    <button>Recuperar contraseña</button>
</main>
<footer>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Logotipo_del_Ministerio_de_Educaci%C3%B3n_y_Formaci%C3%B3n_Profesional.svg/1280px-Logotipo_del_Ministerio_de_Educaci%C3%B3n_y_Formaci%C3%B3n_Profesional.svg.png" alt="logo" class="logo">
</footer>

<app-mensaje></app-mensaje>