<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instituto Cavanilles</title>
  <link rel="stylesheet" href="index.component.css">
</head>

<body>
  <header>
    <h1 class="titulo">Instituto Cavanilles</h1>
  </header>

  <main>
    <a href="alumno" class="boton">Acceder como Alumno</a>
  </main>

  <footer>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Logotipo_del_Ministerio_de_Educaci%C3%B3n_y_Formaci%C3%B3n_Profesional.svg/1280px-Logotipo_del_Ministerio_de_Educaci%C3%B3n_y_Formaci%C3%B3n_Profesional.svg.png" alt="logo" class="logo">
  </footer>

  <app-mensaje></app-mensaje>
</body>

</html>


