<h1>AAAAAAAAAAAAAAAAAAA</h1>
<p>notificaciones works!</p>

<header>
    <h1>Notificaciones de Instituto</h1>
    <nav>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="alumno">Perfil de Alumno</a></li>
        </ul>
        <div class="user-nav">
            <a href="#"><i class="fas fa-bell"></i></a>
            <a href="#"><i class="fas fa-user"></i></a>
        </div>
    </nav>
</header>
<main>
    <div class="notification">
        <h2>Mensaje del Profesor</h2>
        <p>La clase de matemáticas se cancela mañana.</p>
        <span class="timestamp">Hace 2 horas</span>
    </div>
    <div class="notification">
        <h2>Nueva Nota</h2>
        <p>Se ha publicado una nueva nota en el curso de Historia.</p>
        <span class="timestamp">Hace 1 día</span>
    </div>
    <div class="notification">
        <h2>Actualización de Código</h2>
        <p>Se ha actualizado el código fuente del curso de Informática.</p>
        <span class="timestamp">Hace 3 días</span>
    </div>
</main>